body{
    font-family: Arial,sans-serif;
    text-align: center;
    margin:50px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;

}

#mensagem {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.oculto {
    display: none;
}