body {
    font-family: sans-serif;
    text-align: center;
    background: linear-gradient(to right, #f0f0f0, #6eb1cd);
}

#fatogato {
    margin: 20px;
    padding: 20px;
    border: 2px solid #666;
    border-radius: 10px;
    background-color: #f0f0f0;
}