body{
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
   
}

button {
    padding: 10px 20px;
     background-color: #4CAF50;
     color: #fff;
     border: none;
     cursor: pointer;
     border-radius: 5px;
}