body {
    font-family: sans-serif;
    margin: 20px;

}

ul{
    list-style-type: disc;
}

input [type= "text"]{
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
     background-color: #008cba;
     color: #fff;
     border: none;
     cursor: pointer;
     border-radius: 5px;
}